<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>TrafficWatcher</name>

<description>
Radar tracking application
</description>

<author href="http://www.temasoft.ro" email="office@temasoft.ro">
TMS
</author>
<plugin name="sms" value="com.phonegap.plugin.sms"></plugin>
</widget>
